* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif
}

/* ====================================
Forside start
==================================== */

.forside-body {
    background-color: #59433c;
}

.hylde-1 {
    height: 20px;
    background-color: #725951;
    margin-top: 40%;
    box-shadow: 0.1px 0.1px 30px 0.1px;
}

.hylde-1 img {
    width: 100%;
    height: 800%;
    margin-top: -30%;
    padding-bottom: 12%;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 10%;
    font-family: 'Playfair Display', serif
}

.line {
    border-bottom: 1px solid white;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.login {
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3%;
    box-shadow: inset 2px 1px 3px #000;

}

.guest{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    text-align: center;
}

.hylde-2 {
    height: 20px;
    background-color: #725951;
    margin-top: 45%;
    box-shadow: 0.1px 0.1px 30px 0.1px;
}

.hylde-2 img {
    width: 100%;
    height: 800%;
    margin-top: -30%;
    padding-bottom: 12%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* ====================================
Forside slut
==================================== */

/* ====================================
Nav start
==================================== */

header {
    width: 100%;
    padding: 2% 5%;
    top: 0;
    z-index: 10;
    margin-top: 0%;
    background-color: #2f2f2f;
    box-shadow: 1px 1px 10px 1px grey;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo img {
    width: 300%;
    margin-top: 20%;
}

#logo,
#main-nav a {
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

/* ====================================
Nav slut
==================================== */

/* ====================================
Søgefelt start
==================================== */

.indhold {
    /* @url: https://responsivedesign.is/patterns/css-grid-responsive-layout/ */
    display: grid;
    /* Display as a Grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* repeat = as many times as you can fit */
    /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
    /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
    grid-gap: .5rem;
    grid-row-gap: .5rem;
    background: #2f2f2f;
}

.bog {
    padding: 10px;
    background-color: white;
    text-align: center;
}

.bog img {
    box-shadow: 1px 1px 8px 1px #2f2f2f;
}

.bog h3 {
    font-family: 'Playfair Display', serif;
    padding: 5%;
}

.bog .bestil {
    background-color: #50697C;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px;
}

.header-2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#seeker p{
    border-bottom: 1px solid white;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
}

.header-2 a {
    text-decoration-line: none;
    color: #fff;
    font-size: 26px;
}

a {
    text-decoration: none;
}

p {
    max-width: 23rem;
}

#myTextBox {
    border-radius: 10px;
    padding: 10px;
    padding-right: 40px;
    border-style: solid;
}

#submit {
    width: 40px;
    height: 37px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: #7BB5C8;
    border-style: solid;
    border-color: #7BB5C8;
}

#seperator {
    width: 290px;
    margin-bottom: 15px;
    margin-top: -15px;
}

/* ====================================
Søgefelt slut
==================================== */

/* ====================================
Foreslag start
==================================== */

.forelsag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
}

.foreslag h1 {
    font-family: 'Playfair Display', serif;
    color: #2f2f2f;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.foreslag .line-break-1 {
    border-bottom: 1px solid black;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
}

.foreslag .boeger a {
    width: 100%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.foreslag .boeger img {
    width: 80%;
    height: 100%;
    box-shadow: 1px 1px 10px 1px grey;
}

.boeger {
    display: flex;
    justify-content: space-around;
    overflow: visible;
}

.foreslag .line-break-2 {
    border-bottom: 1px solid black;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 6%;
}

#foreslag-2 {
    margin-top: 5%;
}

/* ====================================
Foreslag slut
==================================== */

/* ====================================
Åbningstider start
==================================== */

.abningstider {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: space-around;
    background-color: #50697C;
    color: white;
    padding: 15px;
    box-shadow: 1px 1px 10px 1px grey;
}

#cirkel {
    width: 30px;
    height: 22px;
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 20px;
}

#panel {
    text-align: center;
    padding: 5px;
    display: none;
}

#panel p {
    font-size: 1.3rem;
}

#panel h5 {
    padding-top: 5px;
}

.arrow-down {
    width: 50px;
    height: 30px;
    position: relative;

}

.arrow-down.active {
    background: #50697C;
}

.arrow-down:before,
.arrow-down:after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background: white;
    position: absolute;
    top: 15px;
    transition: transform .5s;
}

.arrow-down:before {
    right: 21px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(45deg);
}

.arrow-down:after {
    right: 10px;
    transform: rotate(-45deg);
}

.arrow-down.active:before {
    transform: rotate(-45deg);
}

.arrow-down.active:after {
    transform: rotate(45deg);
}

.line-break-10 {
    border-bottom: 1px solid black;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
}


/* ====================================
Åbningstider slut
==================================== */

/* ====================================
Bog1 start
==================================== */

#ux1 {

    width: 25%;
    height: 25%;
    margin-left: 5%;
    margin-top: 10%;
}


.r1 {
    display: flex;
    justify-content: center;

}

.r1 > p {
    margin-left: 5%;
    padding-top: 30%;

}

.knap {

    padding-right: 10%;

}

button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #50697c;
    border: none;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px grey;
}

.r2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
}

.r2 p {
    color: gray;
    font-size: 13px;
}

#reol {

    width: 50%;
    margin-top: 2%;

}

#reol1 {

    width: 80%;

}

.footer {

    margin-left: 30%
}

.tekst p {
    text-align: justify;
}

.tekst {
    padding: 10% 10%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

#list-list {
    display: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
}

.line-break-4 {
    border-bottom: 1px solid black;
    width: 300px;
    margin: 0 auto;
}

.line-break-5 {
    border-bottom: 1px solid black;
    width: 300px;
    margin: 0 auto;
}

.line-break-6 {
    border-bottom: 1px solid black;
    width: 250px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.line-break-7 {
    border-bottom: 1px solid black;
    width: 330px;
    margin: 0 auto;
    margin-top: -7%;
}

.grey {
    color: gray;
}

/* ====================================
Bog1 slut
==================================== */

/* ====================================
Pensum start
==================================== */

main {
    background-color: white;
}

section .gds {
    width: 35%;
    box-shadow: 1px 1px 10px 1px grey;
    margin: 2%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    margin-bottom: 8%;
}

#bogpakke{
    width: 35%;
    margin: 2%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    margin-bottom: 8%;
}

#gds-1 {
    margin-left: 32.5%;
    margin-bottom: 8%;
}

a .gds{
    margin-bottom: 8%;
}

section .pris {
    font-size: 22px;
}

section .vejl-pris {
    font-size: 12px;

}

section .description {
    font-size: 110%;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0 0 2% 0;
}

section .grid h1{
    color: #2b2b2b;
    font-size: 35px;
}

section .grid #flip{
    color: #2b2b2b;
    font-size: 25px;
}

section .author {
    font-size: 15px;
    margin: 0;
    color: gray;
}

section .title {
    font-size: 110%;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 2% 0 0 0;
}

section button {
    border: none;
    color: white;
    padding: 1% 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 0 0 0 0;
    cursor: pointer;
    background-color: #50697C;
    border-radius: 12px;
}

section .green {
    border: none;
    color: white;
    padding: 1% 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 0 0 0;
    cursor: pointer;
    background-color: green;
    border-radius: 12px;
    margin-top: 5%;
}


.grid {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin: 5%;
}

.grid-items {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    padding: 0 0 2% 0;
    padding-bottom: 5%;
    border-style: solid;
    border-width: 0 0 2px 0;
}

section .line-break-1 {
    border-bottom: 1px solid black;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
}


@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        color: white;
        margin-left: 80%;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }

    #list-list {
        display: none;
    }
}
