* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
}

/* ====================================
Nav start
==================================== */

header {
    width: 100%;
    padding: 0 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 2%
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo img {
    width: 50%;
    margin-top: 20%;
}

#logo,
#main-nav a {
    color: white;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

#ux1 {

	width: 25%;
	height: 25%; 
	margin-top: 5%;
	margin-left: 5%;

}


.r1 {

	display: flex;
	justify-content: space-around;

}

.r1 > p {

	padding-top: 31%;

}

.knap {
	
	padding-right: 10%;

}

button {

  display: inline-block;
  padding: 8px 10px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: cadetblue;
  border: none;
  margin-left: 10%; 
  border-radius: 10%;
}


#r2 {

	margin-left: 19%;

}

#r2 > h3 {

	margin-left: 16%;
}

#reol {

	width: 40%;
	margin-left: 30%;
	margin-top: 2%;

}

#reol1 {

	width: 80%;
	margin-left: 8%;

}

.footer {

	margin-left: 30%
}

h4 {
	margin-left: 8%;

}

#tekst {

	margin-left: 8%;
}

/* ====================================
Nav slut
==================================== */
